<div class="center">
  <div id='search_field'>
    <br />
    <%= form_tag({:action => 'do_search'}, remote: true) do %>
      <%= text_field_tag 'search_conditions', (params[:search_conditions] || ''), :placeholder => "Enter search here" %>
    <% end %>
    <%= submit_tag 'search' %>
  </div>
</div>
<br />


<div id="results">
<div>